In [5]:
import random

variable = random.randint(1,10)

if variable > 5:
    print(f"El número {variable} es mayor a 5")
else:
    print(f"El número {variable} es menor a 5")

El número 6 es mayor a 5

In [4]:
import random

if (variable = random.randint(1,10)) > 5:
    print(f"El número {variable} es mayor a 5")
else:
    print(f"El número {variable} es menor a 5")

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1921332467.py, line 1)

In [7]:
import random

if (variable := random.randint(1,10)) > 5:
    print(f"El número {variable} es mayor a 5")
else:
    print(f"El número {variable} es menor a 5")

El número 2 es menor a 5

#### 1.3.2.2 Lógicos: Bool

In [2]:
# True
# False

if 5 > 4:
    print(True)
else:
    print(False)

print(5 > 7)

recive: bool = False
not recive

True
False

True

#### 1.3.2.3 Cadena: String

In [6]:
name: str = "oliver"
print(name)
print(type(name))

print(name.capitalize())
print(name.upper())

oliver
<class 'str'>
Oliver
OLIVER

In [7]:
num: int = 10
pi: float = 3.14
is_student: bool = True
name: str = "Oliver"

print(f"{num} - {pi} - {is_student} - {name}")

10 - 3.14 - True - Oliver

### 1.3.3 Operadores

#### 1.3.3.1 Aritméticos

In [8]:
print(5 + 4) # Suma
print(5 - 4) # Resta
print(5 * 4) # Multiplicación
print(5 / 4) # División
print(5 // 4) # División Entera
print(5 % 4) # Módulo o Residuo
print(5 ** 4) # Exponencial

9
1
20
1.25
1
1
625

#### 1.3.3.2 Lógicos

In [10]:
print(True and False) # Y
print(True or False) # O
print(not False) # NO

False
True
True

#### 1.3.3.3 Condicionales

In [11]:
n1: int = 30
n2: int = 20

if n1 > n2:
    print(f"{n1} > {n2}")

30 > 20

In [12]:
n1: int = 10

if n1 > n2:
    print(f"{n1} > {n2}")
else:
    print(f"{n1} < {n2}")

10 < 20

In [13]:
age: int = 18

if age > 18:
    print("Mayor de edad")
elif age == 18:
    print("Acabas de llegar a la mayoría de edad")
else:
    print("Menor de edad")

Acabas de llegar a la mayoría de edad

In [1]:
# Listas
# Colecciones (Collections)

def suma(a, b):
    return a + b

def resta(a, b):
    return a - b

def multiplicacion(a, b):
    return a * b

def division(a, b):
    return a / b

operaciones = [suma, resta, multiplicacion, division]

print(operaciones[0](5, 4))
print(operaciones[1](5, 4))
print(operaciones[2](5, 4))
print(operaciones[3](5, 4))

for operacion in operaciones:
    print(operacion(5, 4))

lista = [1, 2, 3, 4, 5, True, 4.5, "Oliver", [1, 2, 3]]

9
1
20
1.25
9
1
20
1.25

In [3]:
# Es indexable

lista[8]

[1, 2, 3]

In [4]:
# Slices

print(lista)
print(lista[:])

[1, 2, 3, 4, 5, True, 4.5, 'Oliver', [1, 2, 3]]
[1, 2, 3, 4, 5, True, 4.5, 'Oliver', [1, 2, 3]]

In [5]:
print(lista[0:1])

[1]

In [6]:
print(lista[0:])

[1, 2, 3, 4, 5, True, 4.5, 'Oliver', [1, 2, 3]]

In [7]:
print(lista[-3:-1])

[4.5, 'Oliver']

In [8]:
def suma(a, b):
    pass

print(suma(3, 4))

None

In [11]:
def operaciones(a, b):
    return [a + b, a - b, a * b, a / b]

respuestas= operaciones(5, 4)
print(respuestas)
w, x, y, z = operaciones(5, 4)
print(w)

[9, 1, 20, 1.25]
9

In [12]:
res_suma, _, _, _ = operaciones(5, 4)
res_suma

9

In [14]:
# Tuplas (Tuples)

tupla_funciones = (suma, resta, multiplicacion, division)
print(tupla_funciones[1](5, 4))

tupla = (1, 2, 3, 4, 5, True, 4.5, "Oliver", [1, 2, 3])

1

In [15]:
tupla[0] = 10

TypeError: 'tuple' object does not support item assignment

In [16]:
# tupla[0] = 10 es inmutable

lista.append(10)
lista

[1, 2, 3, 4, 5, True, 4.5, 'Oliver', [1, 2, 3], 10]

In [17]:
tupla.__add__((10, 11, 12))

(1, 2, 3, 4, 5, True, 4.5, 'Oliver', [1, 2, 3], 10, 11, 12)

In [18]:
tupla[0].__mod__(10)

1

In [24]:
def suma(a: int, b: int) -> int:
    return a + b

def operacion(a: int, b: int) -> tuple:
    return (a + b, a - b)

(a, b) = operacion(5, 6)
a, b = operacion(6, 5)
print(a, b)

11 1

In [25]:
# Rangos (Ranges)

numeros = range(10)
print(numeros)

range(0, 10)

In [27]:
for i in numeros:
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

In [28]:
numeros = range(5, 10)
numeros

range(5, 10)

In [29]:
for i in numeros:
    print(i, end=" ")

5 6 7 8 9

In [33]:
numeros_pares = range(2, 11, 2)
for par in numeros_pares:
    print(par, end=" ")

2 4 6 8 10

In [34]:
for item in range(2, 11, 2):
    print(item, end=" ")

2 4 6 8 10

In [35]:
numeros

range(5, 10)

In [36]:
list(numeros)

[5, 6, 7, 8, 9]

In [37]:
numeros = list(numeros)
numeros

[5, 6, 7, 8, 9]

In [45]:
lista = [3, 6, 7, 40, 34, 67, 89]
max(lista)

89

In [41]:
min(lista)

3

In [42]:
sum(lista)

246

In [49]:
lista.sort()
lista

[3, 6, 7, 34, 40, 67, 89]

In [50]:
lista.sort(reverse=True)
lista

[89, 67, 40, 34, 7, 6, 3]

In [52]:
# Set (Conjuntos)

mi_set = {1, 2, 3, 3, 3, 3, 3}
mi_set

{1, 2, 3}

In [56]:
data = [15, 14, 13, 12, 11, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 1, 2, 1, 2, 1, 2]
set(data)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

In [57]:
data2 = {1, 56, 57, 58}

mi_set.union(data2)

{1, 2, 3, 56, 57, 58}

In [58]:
# Dccionarios

mi_dict = {"llave": "valor"}
mi_dict["llave"]

'valor'

In [59]:
mi_dict.keys()

dict_keys(['llave'])

In [60]:
mi_dict.values()

dict_values(['valor'])

In [65]:
days_of_week = {
    "Monday": "1",
    "Tuesday": "2",
    "Wednesday": "3",
    "Thursday": "4",
    "Friday": "5",
    "Saturday": "6",
    "Sunday": "7"
}

for e in mi_set:
    print(e, end=" ")

for key in days_of_week.keys():
    print(key)

for value in days_of_week.values():
    print(value)

for key, value in days_of_week.items():
    print(key, value)

print(days_of_week)

1 2 3 Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday
1
2
3
4
5
6
7
Monday 1
Tuesday 2
Wednesday 3
Thursday 4
Friday 5
Saturday 6
Sunday 7
{'Monday': '1', 'Tuesday': '2', 'Wednesday': '3', 'Thursday': '4', 'Friday': '5', 'Saturday': '6', 'Sunday': '7'}